h1 {
color: darkcyan;
text-align: center;
}

.omg {
    color: darkorange;
}

#italic {
    color: darkorchid;
}

nav{
    background-color: darkgoldenrod;
    text-align: center;
}

.nav-wrapper{
    background-color: mediumblue;
}

a {
text-decoration-line: none;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    padding: 30px;
}
.container{
    border:15px dashed cornflowerblue; 
    margin: 50px 5px;
    padding: 30px;
}

.box {
    height: 200px; width: 200px;
    background: rgb(36, 153, 221);
    margin: 10px ;
}

.circleImg{
    border-radius: 50%;
}
@keyframes fadeMe{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
#box1 { animation-name: fadeMe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes rotation {
    0%{transform: rotate(90deg);}
      50%  {transform: rotate(180deg);}
       100% {transform: rotate(360deg);
    }
}
#box2{
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: 2s;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image: radial-gradient(circle, blue,yellow,pink,orange, purple);
}
@keyframes grower{
    0%{transform: scale(1);}
   50% {transform: scale(2);}
   100% {transform: scale(.5);}
}
#box3{
    animation: grower infinite   8s  ease-in;
    border-radius: 50%;
    background-color: chocolate;
}

@keyframes newDew {
    0%{background-color: darkgreen;}
    25%{background-color: aqua;}
    50%{background-color: rgb(35, 0, 100);}
    75%{background-color: rgb(100, 0, 62);}
    100%{background-color: rgb(195, 207, 15);}
}
#box4 {
    animation: newDew 3s 2s forwards
}

@keyframes moveAround {
    0%{left:0px ;top: 0px;}
    25%{left:100px ;top: 0px;}
    50%{left:100px ;top: 200px;}
    75%{left:0px ;top: 200px;}
    100%{left:0px ;top: 0px;}
}
#box5 {
    position: relative;
    background-color: darkred;
animation-name: moveAround;
animation-timing-function: 2s;
    animation-duration: 15s;
}

#box6{
    top: 10px;
    left: 20px;
    position: relative;
}

html {
background-image: linear-gradient(to right, pink, orange, blue, yellow);
}
img{
   box-shadow: gray 8px 8px 10px 8px; 
}

.flex {
    margin: 30px;
    border: black solid 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.contactBox{
    display: flex;
    justify-content: center;
}
.row{
    margin: 30px;
}

.input-field{
    margin: 20px;
}


form input, textarea, button{
display: block;
margin: 30px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 19% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: ;
    color: #444;
}

.Box {
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

}

.a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.c {
    grid-column: col  / span  5;
    grid-row: row 2;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(green,blue,red,yellow) 
}
.d {
    grid-column: col  / span  2 ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
}

.e {
    grid-column: col 3 / span 3 ;
    grid-row: row 3;
    display: flex;
    justify-content: center;
}

.f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: radial-gradient(,red,blue,yellow);
}